.creations {

    &__title {
        display: flex;
        justify-content: center;

        @include breakpoint-up(large){
            justify-content: space-between;
            align-items: flex-start;
        }

        >h2 {
            font-family: 'Josefin Sans';
            text-transform: uppercase;
            font-size: 1.875rem;
            margin: 0 0 3.25rem 0;

            @include breakpoint-up(medium){
                font-size: 2.2rem;
            }
        }

        >a {
            @include breakpoint-down(medium) {
                display: none;
            }
        }
    }

    .button {
        font-size: 1.1rem;
        font-family: 'Alata';
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.335rem;
        color: #000;
        background-color: white;
        border: 1px solid #000;

        &:hover{
            color: white;
            background-color: black;
        }
    }

    .button-for-desktop {
        padding: 0.6875em 3em;

        @include breakpoint-down(medium){
            display: none;
        }
    }

    .button-for-mobile {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 3.2rem;
        padding: 0.6em 2.5em;

        @include breakpoint-up(large) {
            display: none
        }
    }

    &__feeds {
        display: grid;
        grid-auto-rows: 160px;
        grid-auto-columns: auto;
        gap: 2em;
        
        @include breakpoint-up(medium){
            grid-auto-rows: 350px;
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 450px;
        }

        .card {
            display: flex;
            flex-flow: column;       
            justify-content: flex-end;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.25);
                opacity: 0;
                transition: opacity 150ms ease-in-out;
            }

            &:hover::before{
                opacity: 1;
            }


            .card-title {
                width: 60%;
                margin: 0 0 2rem 2rem;
                font-family: 'Josefin Sans';
                text-transform: uppercase;
                font-size: 1.9rem;
                line-height: 1;
                color: $white;

                @include breakpoint-up(large){
                    font-size: 2.4rem;
                }
            }
        }
    }

    .card1 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/mobile/image-deep-earth.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-deep-earth.jpg);
        }
    }

    .card2 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-night-arcade.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-night-arcade.jpg);
        }
    }

    .card3 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-soccer-team.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-soccer-team.jpg);
        }
    }
    
    .card4 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-grid.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-grid.jpg);
        }
    }

    .card5 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-from-above.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-from-above.jpg);
        }
    }

    .card6 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-pocket-borealis.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-pocket-borealis.jpg);
        }
    }

    .card7 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-curiosity.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-curiosity.jpg);
        }
    }

    .card8 {
        position: relative;
        background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), url(../images/mobile/image-fisheye.jpg);
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(large) {
            background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100% ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%), url(../images/desktop/image-fisheye.jpg);
        }
    }
}